body{
    background-color: lightcyan;
}
h1,h2{
    text-align: center;
    border:1px solid black;
    padding: 10px ;
    background-color: lightblue;
    border-radius: 5px;
    margin: 0 20% 0 20%;
}
fieldset{

margin: 0 20% 0 20%;
border-radius: 5px;
}
label{display:block;
margin-bottom: 10px;}


footer{
    text-align: center;
    
    padding: 50px;
}
p{
    text-align: center;
    
}
legend{
    font-weight: bold;
}
p>input{
    font-weight: bold;
}
nav>ul>li{
    display:inline;
    
    
}
nav>ul>li>a{
    text-decoration: none;
    margin-left: 10px;
}
nav{
    text-align: center;
}